{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello everyone. I'm product analyst at Milsped company.
        </p>
        <p>
          Product analysts perform market research and analyze market data, identifying consumer behaviors and trends. 
          They make recommendations and provide launch strategies based on their analyses to increase firm profitability. 
          Product analysts monitor product performance and recommend alterations to meet sales forecasts.
        </p><hr>
        <p>
          I also work as product officer. That's specific role in my company, and here is some examples what we do:<br><br>
          Product management is a function of an organization that involves guiding teams on a product's lifecycle, 
          from development to execution, by focusing on exactly what (potential) customers want. 
          While product managers are champions of the product, they are also understanding the competitive landscape, learning about its users, 
          and devising new solutions for improvement. Because every product is different, the role of a product manager is also very dynamic. 
          For one company, product management might involve research and development of a new product. 
          For others, it might be the relaunch and repositioning of an old product. 
          No matter what, product management refers to delivering excellence at all points of a product's lifecycle.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
